<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="homepage.css">
    </head>
    <body>
        <section>
      <div class="header">
          <nav>
              <div class="left"><h1>Herupa</h1></div>
              <a href="#" id="toggle">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </a>
              <div class="right">
                  <ul>
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Sign Up</a></li>
                      <li><a href="#">Pricing</a></li>
                  </ul>
              </div>
          </nav>

        <div class="text-box">
            <h1>All in One Retail Solution</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut earum vel fugiat nobis iusto asperiores molestias.
            </p>
            <a href="g">Sign Up Now</a>
        </div>
        </div>
        </section>
       
    
<section class="pricing">
    <h1 class="price" style="color:black ;">Pricing</h1>
    <div class="panel pricing-table">
    
        <div class="pricing-plan">
            <img src="icons/icon1.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Personal</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Custom domains</li>
                <li class="pricing-features-item">Sleeps after 30 mins of inactivity</li>
            </ul>
            <span class="pricing-price">Free</span>
            <a href="#/" class="pricing-button">Sign up</a>
        </div>
    
        <div class="pricing-plan">
            <img src="icons/icon2.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Small team</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Never sleeps</li>
                <li class="pricing-features-item">Multiple workers for more powerful apps</li>
            </ul>
            <span class="pricing-price">$150</span>
            <a href="#/" class="pricing-button is-featured">Free trial</a>
        </div>
    
        <div class="pricing-plan">
            <img src="icons/icon3.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Enterprise</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Dedicated</li>
                <li class="pricing-features-item">Simple horizontal scalability</li>
            </ul>
            <span class="pricing-price">$400</span>
            <a href="#/" class="pricing-button">Free trial</a>
        </div>
    
    </div>
</section>

<footer class="footer">
    <div class="l-footer">
        <h1>
            <img src="https://i.postimg.cc/y62wcLBq/logo.png" alt="">
        </h1>
        <p>DREC Pencho
        </p>
    </div>
    <ul class="r-footer">
        <li>
            <h2>
                Social</h2>
            <ul class="box">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Pinterest</a></li>
                <li><a href="#">Dribbble</a></li>
            </ul>
        </li>
        <li class="features">
            <h2>
                Information</h2>
            <ul class="box h-box">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Tickets</a></li>
                <li><a href="#">Certifications</a></li>
                <li><a href="#">Customer Service</a></li>
            </ul>
        </li>
        <li>
            <h2>
                Legal</h2>
            <ul class="box">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contract</a></li>
            </ul>
        </li>
    </ul>
    <div class="b-footer">
    </div>
</footer>

        
        <script src="h.js" async defer></script>
    </body>
</html>