<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
       <div id="form">
         <div class="circle1"> </div>
         <div class="circle2"> </div>
           <h2>Login</h2><hr>
           <form action="post">
             <div class="inputs">
               <input  class="input" type="email" id="user" required="required" placeholder=" ">
               <label class="input-label" for="email">Email</label>     </div>
               <div class="inputs">
               <input class="input" type="password" id="user" required="required" placeholder=" ">
               <label class="input-label" for="password" >Password</label>
                </div>
                <div class="rememberme">
                    <label><input type="checkbox" name="" value=""> Remember Me</label>
                </div>

               <button>Login</button>
               <div class="inputbox">
                 <p>Don't have a account?<a href="#">Sign Up</a></p>
               </div>
           </form>
       </div>

        <script src="" async defer></script>
    </body>
</html>
